
<div class="side-bar d-flex flex-column flex-shrink-0 p-4 text-dark" style="width: 280px;">
    <a href="/" class="d-flex justify-content-center align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img class="logo" src="././assets/logo.png" alt="">
      <span class="fs-4 ml-5">Admin Panel</span>
      
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active text-dark" aria-current="page">
        <mat-icon class="menu-icons" aria-hidden="false" aria-label="Example home icon">space_dashboard</mat-icon>
         <span class="menu"> About us</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-dark">
            <mat-icon  class="menu-icons" aria-hidden="false" aria-label="Example home icon">folder</mat-icon>
            <span class="menu">Records</span>
        </a>
      </li>
      <div class="accordion text-dark" id="taxCollectionAccordion" >
        <div class="accordion-item text-dark">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                 <mat-icon   class="menu-icons" aria-hidden="false" aria-label="Example home icon">note</mat-icon>
                <span class="menu">Services</span>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#taxCollectionAccordion">
            <div class="accordion-body">
            <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>Programs</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>Consultants</span>
                  </a>
                </li>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion text-dark" id="taxCollectionAccordion" >
        <div class="accordion-item text-dark">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#infrastructure" aria-expanded="false" aria-controls="collapseThree">
                 <mat-icon   class="menu-icons" aria-hidden="false" aria-label="Example home icon">note</mat-icon>
                <span class="menu">Infrastructure</span>
            </button>
          </h2>
          <div id="infrastructure" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#taxCollectionAccordion">
            <div class="accordion-body">
            <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>TBI</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>Research and Devt Facilities</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>Shared Services Facilities</span>
                  </a>
                </li>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion text-dark" id="taxCollectionAccordion" >
        <div class="accordion-item text-dark">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#academia" aria-expanded="false" aria-controls="collapseThree">
                 <mat-icon   class="menu-icons" aria-hidden="false" aria-label="Example home icon">note</mat-icon>
                <span class="menu">Academia</span>
            </button>
          </h2>
          <div id="academia" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#taxCollectionAccordion">
            <div class="accordion-body">
            <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>HEI</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>Researchers</span>
                  </a>
                </li>
                
            </div>
          </div>
        </div>
      </div>
      <div class="accordion text-dark" id="taxCollectionAccordion" >
        <div class="accordion-item text-dark">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#industry" aria-expanded="false" aria-controls="collapseThree">
                 <mat-icon   class="menu-icons" aria-hidden="false" aria-label="Example home icon">note</mat-icon>
                <span class="menu">Industry</span>
            </button>
          </h2>
          <div id="industry" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#taxCollectionAccordion">
            <div class="accordion-body">
            <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>MSME</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>Priority Sectors</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">
                    <span>Economic Zones</span>
                  </a>
                </li>
                
            </div>
          </div>
        </div>
      </div>
      <li>
        <a href="#" class="nav-link text-dark">
            <mat-icon  class="menu-icons" aria-hidden="false" aria-label="Example home icon">payment</mat-icon>
          <span class="menu">Payment</span>
        </a>
      </li>
      
        <div class="accordion text-dark" id="taxCollectionAccordion" >
          <div class="accordion-item text-dark">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button text-dark collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Utilities" aria-expanded="false" aria-controls="collapseThree">
                <mat-icon  class="menu-icons" aria-hidden="false" aria-label="Example home icon">build</mat-icon>
                <span class="menu">Settings</span>
              </button>
            </h2>
            <div id="Utilities" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#taxCollectionAccordion">
              <div class="accordion-body">
              <li class="nav-item">
                    <a class="nav-link text-dark" href="#">
                      <span>Manage Profile</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="#">
                      <span>Page Roles</span>
                    </a>
                  </li>
              </div>
            </div>
          </div>
        </div>
    
    
    </ul>

  </div>
