
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    
    <div class="container col-xl-10 px-0 mx-auto shadow rounded" style="background-color:white; height: 600px;">
<div class="container-fluid ">
    <div class="row no-gutter ">
        <!-- The image half -->
        
        <div class="col-md-7 d-none d-md-flex bg-image rounded-start " style="display: grid; place-items: center;">
            <img src=".././assets/logo.png" height="200px" width="100%" alt="">
        </div>


        <!-- The content half -->
        <div class="col-md-5 " sys_get_temp_dir>
            <div class="login d-flex align-items-center  py-2">

                <!-- Demo content-->
                <div class="container ">
                    <div class="row">
                        <div class="text-center">
                           
                            </div>

                            <div class="col-12 text-center">
                            <h5 class="mb-0" style="font-size: 35px">Admin Panel</h5>
                            <p style="font-size: 14px" class="text-muted mb-3">Sign in to your Admin account.</p>
                            </div>
                        <div class="col-lg-10 col-xl-10 mx-auto">

                         
                            <form>
                                <div class="form-group">
                                <label for="inputEmail"   style="font-weight: normal; font-size: 13px; margin-bottom: 0px">Username</label>
                                    <input id="inputEmail" ngModel = 'username' type="text" name="username" placeholder="Enter Username" required="" autofocus="" class="form-control">
                                    
                                  </div>
                                <div class="form-group ">
                                <label for="inputPassowrd"  style="font-weight: normal; font-size: 13px; margin-bottom: 0px">Password</label>
                                    <input id="inputPassword" type="password" name="password" placeholder="Enter Password" required="" class="form-control">
                                    
                                  </div>
                           
                                <button type="submit" name="login"  mat-raised-button style="width: 100%; margin-top: 20px; background-color: #173074; color: white;" >Sign in</button>
                                <div class="form-group mt-0 p-0 text-center">
                                  <a style="font-size: 12px; color: #6c757d;" class="" href="../res\forgot\forgot-password.php" id="forgotPass">Forgot Password? Click here</a>
                                  </div>
                             
                                                          
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->
    </div>
    </div>
</div>
</div>