mat-dialog-content{
    padding: 1em;
    overflow-y: scroll;
    height:80vh;
}



.form-group{
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    gap: 10px;
}


#name{
    text-transform: uppercase;
}