<div class="main" style="height: 100vh;">
    <div class="page-title d-flex align-items-center">
        
        <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: rgb(44, 44, 44)">space_dashboard</mat-icon>
       
        <span> / Dashboard</span>
    </div>
    <p>
        <mat-form-field appearance="standard">
          <mat-label>Standard form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
    
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 mt-5">
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi animi voluptatum minima hic suscipit esse, quam illum qui quas repellendus laudantium dolor necessitatibus facere eveniet cum dignissimos laborum nostrum et.</p>
            </div>
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nobis perspiciatis, officia nostrum dolore, facere maiores blanditiis quod laborum iste dolor delectus! Minus eaque ratione optio natus perspiciatis expedita incidunt?</p>
            </div>
        </div>
    </div>

</div>

